body {
    font-size: 12px;
}
/*Header*/
/*HomePage Banner*/

@media only screen and (min-width: 767px) {
    .header{
        padding-top: 10px;
        padding-left: 19%;
    }
}
@media only screen and (max-width: 767px) {
    .icon_items img {
        display: none;
    }
}

.banner {
	width: 100%;
	margin-bottom: 25px;
}
.banner .navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}
.banner .navbar-inverse .navbar-toggle {
    background-color: #0e0e0e;
    float: left;
}

.banner .header .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    z-index: 99;
}

.banner .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #ef1616;
}

#myNavbar .home:after{
	content: "\f107";
	font-family: FontAwesome;
}
#myNavbar .women:after{
	content: "\f107";
	font-family: FontAwesome;
}
#myNavbar .page:after{
	content: "\f107";
	font-family: FontAwesome;
}

.icon_items img {
    position: absolute;
    right: 25px;
    z-index: 10;
}
.carousel-indicators .active {
	background-color: transparent;
	border-color: #ef1616;
}
@media only screen and (max-width: 500px) {
	.banner .icon_items img {
		display: none;
	}
}

								/*Category Page*/


									/*Configurable Products*/
.configurable_products {
    margin-bottom: 25px;
}
.configurable_products .configurable_products_text {
    text-align: center;
}
.configurable_products .configurable_products_title {
    text-align: center;
    font-size: 200%;
    margin-bottom: 25px;
}
.configurable_products .thumbnail{
  margin-bottom: 50px;
      border: 0px;
}
.configurable_products .thumbnail .swatches {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.configurable_products .thumbnail .blue {
  background: #13b4ff;
}

.configurable_products .thumbnail .purple {
  background: #ab3fdd;
}

.configurable_products .thumbnail .wine {
  background: #ae163e;
}

.configurable_products .thumbnail .caption {
    color: #333;
    margin-left: 8px;
    padding: 0px;
}

.configurable_products .thumbnail .rate {
    color: #333;
    margin-left: 8px;
}

.configurable_products .thumbnail p {
    margin: auto;
}
#labels .new {
    position: absolute;
    top: 5%;
    background-color: #3abb0f;
    color: #ffffff;
    padding-left: 7%;
    padding-right: 7%;
}
#labels .rate{
	width: 25%;
	float: left;
}
#labels p.special.price {
    text-decoration: line-through;
    color: #b5b2b2;
}
#labels .sale {
    position: absolute;
    background-color: #ef1616;
    color: #ffffff;
    padding-left: 7%;
    padding-right: 7%;
    right: 7%;
    top: 5%;
}


									/*Latest Blog*/
.latest_blog .thumbnail .date {
    float:  left;
    border:  1px solid;
    width:  50px;
    background-color:  #ef1616;
    color:  #ffffff;
    text-align:  center;
    margin-top: 8%;
}
.latest_blog .thumbnail .blog_content {
    margin-top:  25px;
    margin-left: 18%;
}

.latest_blog .thumbnail .caption {
    padding: 0px;
}
.latest_blog .thumbnail {
    border:0px;
}
.latest_blog p.latest_blog_text {
    text-align:  center;
}

.latest_blog p.latest_blog_title {
    text-align:  center;
    font-size: 200%;
    margin-bottom: 23px;
}

.blog_content p.blog_title {
    color: #080808;
    font-size: 157%;
    margin-bottom: 25px;
}


									/*Footer */
.footer .shop_info {
    background-color: #f5f2f2;
    padding: 20px;
}
.footer .shop_info .item .content h2 {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -7%;
    color: #0e0e0e;
}
.footer .shop_info .item .content h3 {
    font-size: 100%;
}
.footer .shop_info .item {
    width: 113%;
}
.footer .shop_info .item .images {
    float: left;
    text-align: center;
    width: 24%;
}
.footer .shop_info .item .content {
    margin-left: 30%;
    margin-bottom: 7%;
}
.footer_left .footer_block a.logo {
    margin: 0px 0px 20px;
    display: block;
}
.footer_left .footer_content ul.company_timings {
    list-style: none;
    padding: 0;
}
.footer_top .footer_block .footer_title {
    color: #0e0e0e;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer_top .footer_block .footer_title h3 {
	font-size: 150%;
    margin-bottom: 25px;
}
.footer_top .footer_block .footer_content ul.company_informations {
    list-style: none;
    padding: 0;
}
.footer_top .footer_block .footer_content ul.company_informations li {
    overflow: hidden;
    margin: 12px 0px;
}
.footer_top .footer_block .footer_content .subscribe input#newsletter {
    /*width: 69%;*/
    float: left;
    padding: 11px;
    background-color: #eae5e5;
    border: 0;
}
.footer_top .subscribe {
    margin-bottom: 10px;
}
.footer_top .subscribe button.action.subscribe.primary {
    padding: 11px;
    background-color: #ef1616;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
}
.footer_top .footer_content ul.apps_icons {
    padding: 0px;
}
.footer_top  .footer_content ul.apps_icons li{
    display: inline-block;
    margin: 5px;
}
@media (max-width: 1199px) and (min-width: 992px) {
	.footer-container .footer_block ul.apps_icons li {
	    width: 85px;
	}
}
.footer .footer_bottom {
    border-top: 1px solid;
    margin-top: 10px;
    padding-top: 20px;
}

.footer .footer_bottom .payment {
    text-align: right;
}

.footer .footer-container {
    padding-top: 20px;
}

/*Common */

ul li a {
    color: #080808;
}

.category_text { text-align: center; }
.category_title {text-align: center; font-size: 200%; margin-bottom: 10px;}